
body{
width: 100%;
height: 100%;
margin: 0 auto;
background-color: #4F4F4F;
}


.principal{
	width:100%;
	height: 600px;
	float: left;
	position: relative;
	border-top: 30px solid #4F4F4F;
}

.segundo-conteudo{
	
	

	width: 800px;
	height: 500px;
	margin:  0 auto;
	padding: 2px;
	border: 40px solid #363636;
	position: relative;

}

#banner{
	width: 800px;
	height: 500px;

}